:root { 
--black_900_3a:#0000003a; 
--light_green_A700:#79ca00; 
--red_800:#b4282e; 
--light_blue_500:#00b3f0; 
--light_blue_902:#104f8b; 
--light_blue_901:#0b5ba7; 
--light_blue_900:#0b5ba8; 
--black_900_dd:#000000dd; 
--deep_orange_300:#ff9b53; 
--black_900_07:#00000007; 
--pink_300:#f9668d; 
--blue_900:#114f8b; 
--gray_400:#cacaca; 
--gray_800:#414141; 
--gray_801:#424242; 
--amber_700:#faa303; 
--gray_200:#e9e9e9; 
--orange_400:#fcb130; 
--gray_201:#e8e8e8; 
--black_900_99:#00000099; 
--bluegray_600:#566073; 
--bluegray_400:#8e8e94; 
--bluegray_200:#acb1b6; 
--white_A700:#ffffff; 
--indigo_800:#223f9a; 
--bluegray_900_dd:#303030dd; 
--red_700:#cf4037; 
--amber_A400:#fdbf00; 
--green_A400:#36da76; 
--white_A700_33:#ffffff33; 
--gray_700:#57575c; 
--blue_801:#1262ae; 
--blue_603:#2a9ad6; 
--gray_500:#999999; 
--blue_802:#1261ae; 
--blue_601:#289bd8; 
--blue_800:#1262af; 
--blue_602:#299bd8; 
--blue_401:#4aacff; 
--gray_701:#636368; 
--blue_600:#299ad7; 
--bluegray_100:#cccccc; 
--orange_500:#f99a0e; 
--gray_100:#f3f7fb; 
--bluegray_900:#2f2f2f; 
--bluegray_103:#ccdceb; 
--bluegray_102:#ccdcec; 
--bluegray_101:#cecece; 
--blue_400:#4dabff; 
--blue_800_0c:#1162af0c; 
}