
    @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1262af;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.Search{
 @apply cursor-pointer font-normal lg:ml-[23px] xl:ml-[26px] 2xl:ml-[30px] 3xl:ml-[36px] not-italic text-gray_800 w-[auto]; 
}
.FormTitleGrou{
 @apply font-bold text-bluegray_900 tracking-ls1 uppercase w-[auto]; 
}
.LabelContainer1{
 @apply not-italic text-black_900_99 tracking-ls1 w-[auto]; 
}
.DepartureDetai{
 @apply font-normal not-italic text-bluegray_400 tracking-ls1 w-[auto]; 
}
.Attractions{
 @apply 3xl:mt-[10px] lg:mt-[7px] xl:mt-[8px] 2xl:mt-[9px] not-italic text-bluegray_400 tracking-ls1 w-[auto]; 
}
.DestinationDet{
 @apply font-bold ml-[3px] text-white_A700 tracking-ls1 w-[auto]; 
}
.from{
 @apply font-normal font-roboto not-italic text-white_A700 tracking-ls1 uppercase w-[auto]; 
}
.price{
 @apply font-baloobhai mt-[1px] not-italic text-white_A700 w-[auto]; 
}
.DestinationDet1{
 @apply font-bold ml-[2px] mt-[2px] text-white_A700 tracking-ls1 w-[auto]; 
}
.rectitle{
 @apply capitalize text-bluegray_900 tracking-ls1 w-[auto]; 
}
.rowviewallholida{
 @apply font-medium mt-[1px] text-blue_801 tracking-ls1 w-[auto]; 
}
.unsplash5MV818{
 @apply lg:h-[189px] xl:h-[216px] 2xl:h-[243px] 3xl:h-[291px] rounded-bl-[0] rounded-br-[0] rounded-tl-[10px] rounded-tr-[10px] w-[100%]; 
}
.rowbali{
 @apply font-baloobhai not-italic text-blue_800 w-[auto]; 
}
.Bali{
 @apply font-medium text-gray_800 tracking-ls1 w-[auto]; 
}
.MatterhornSuit{
 @apply lg:h-[156px] xl:h-[178px] 2xl:h-[201px] 3xl:h-[241px] mt-[2px] rounded-radius10 w-[100%]; 
}
.MatterhornSuit_One{
 @apply capitalize lg:mt-[5px] xl:mt-[6px] 2xl:mt-[7px] 3xl:mt-[8px] text-bluegray_900 tracking-ls1 w-[auto]; 
}
.price_Eight{
 @apply font-normal lg:mt-[6px] xl:mt-[7px] 2xl:mt-[8px] 3xl:mt-[9px] not-italic text-bluegray_900 tracking-ls1 w-[auto]; 
}
.play{
 @apply lg:h-[18px] xl:h-[21px] 2xl:h-[24px] 3xl:h-[28px] mt-[1px] lg:w-[17px] xl:w-[20px] 2xl:w-[23px] 3xl:w-[27px]; 
}
.star{
 @apply lg:h-[14px] xl:h-[16px] 2xl:h-[18px] 3xl:h-[21px] w-[11%]; 
}
.FortyNine{
 @apply font-medium ml-[3px] mt-[1px] text-bluegray_900 tracking-ls1 w-[auto]; 
}
.test_60reviews{
 @apply font-normal 3xl:ml-[10px] lg:ml-[7px] xl:ml-[8px] 2xl:ml-[9px] not-italic text-blue_800 tracking-ls1 w-[auto]; 
}
.DiscoveryShore_One{
 @apply capitalize 2xl:mt-[10px] 3xl:mt-[12px] lg:mt-[7px] xl:mt-[8px] text-bluegray_900 tracking-ls1 w-[auto]; 
}
.Form{
 @apply font-normal ml-[2px] 3xl:mt-[10px] lg:mt-[7px] xl:mt-[8px] 2xl:mt-[9px] not-italic text-bluegray_600 w-[auto]; 
}
.Input2{
 @apply font-normal not-italic p-[0] lg:text-[12px] xl:text-[14px] 2xl:text-[16px] 3xl:text-[19px] text-black_900_99 tracking-ls1 w-[100%]; 
}
.FickleFlightBi{
 @apply font-normal lg:leading-[21px] xl:leading-[24px] 2xl:leading-[27px] 3xl:leading-[32px] lg:mt-[15px] xl:mt-[17px] 2xl:mt-[20px] 3xl:mt-[24px] not-italic text-white_A700 w-[90%]; 
}
.News{
 @apply font-normal lg:mt-[12px] xl:mt-[14px] 2xl:mt-[16px] 3xl:mt-[19px] not-italic text-white_A700 w-[auto]; 
}
.Accessibility{
 @apply font-normal 2xl:mt-[11px] 3xl:mt-[13px] lg:mt-[8px] xl:mt-[9px] not-italic text-white_A700 w-[auto]; 
}
.ResultsImage{
 @apply lg:h-[172px] xl:h-[196px] 2xl:h-[221px] 3xl:h-[265px] rounded-bl-[10px] rounded-br-[0] rounded-tl-[10px] rounded-tr-[0] w-[46%]; 
}
.night{
 @apply font-normal mb-[2px] ml-[1px] lg:mt-[6px] xl:mt-[7px] 2xl:mt-[8px] 3xl:mt-[9px] not-italic text-bluegray_900 tracking-ls1 w-[auto]; 
}
